Functionele eisen:

    1. De applicatie moet verschillende gebruikersrollen ondersteunen, waaronder beheerders (managers) en personeelsleden, met elk hun specifieke rechten en toegangsniveaus.
    2. Beheerders hebben toegang tot het gehele spectrum van functies dat de applicatie biedt.
    3. Personeelsleden kunnen alle gegevens m.b.t. productinformatie en voorraad inzien, maar niet wijzigen.
    4. De applicatie moet de mogelijkheid bieden om de voorraad van producten (tv's, afstandsbedieningen, muurbeugels, CI-modules) bij te houden, zowel inkomend als uitgaand.
    5. De manager Voorraadbeheer moet de mogelijkheid hebben om in de applicatie de locatie van producten in het magazijn bij te houden en te beheren.
    6. De manager Verkoop moet de inkoop- en verkoopprijzen van producten kunnen invoeren en bijwerken, en deze gegevens moeten gekoppeld zijn aan individuele producten.
    7. De manager Verkoop moet de status van een product kunnen aanpassen naar "verkocht", na een succesvolle verkoop, waarna dit tevens wordt verwerkt in het gedeelte voor voorraadbeheer.
    8. De applicatie moet de mogelijkheid bieden om aan te geven welke producten met elkaar zijn gekoppeld, bijvoorbeeld dat er slechts één afstandsbediening beschikbaar is per tv-model.
    9. De applicatie moet gegevens van personeelsleden opslaan en beheren, inclusief contactinformatie, contracten, en rechten m.b.t. het gebruik van de applicatie.
    10. De manager Inkoop en Administratie moet in staat zijn om rapporten te genereren op basis van inkoop- en verkoopgegevens, inclusief winstmarges en financiële overzichten.
    11. De manager Inkoop en Administratie moet van alle personeelsleden gegevens kunnen opvragen en aanpassen.

	

Niet-functionele eisen:

    Prestaties: 
    	12. De applicatie moet snel en responsief zijn, zodat de productiviteit van de gebruikers niet gehinderd wordt. Bij een totaal van 10000 producten moeten de productdetails van 1 product binnen 100ms getoond worden. De algemene responstijd is maximaal 1 seconde.
    	13. De applicatie moet schaalbaar zijn tot zo'n 500 gebruikers, zonder prestatieverlies en/of dat er grote wijzigingen nodig zijn in de onderliggende code.
    Betrouwbaarheid: 
    	14. De applicatie moet 24/7 beschikbaar zijn met minimale downtime voor onderhoud of updates.
    Gebruiksvriendelijkheid:
        15. Gebruikers moeten de applicatie kunnen gebruiken op zowel desktop- als mobiele apparaten, zodat ze in realtime toegang hebben tot de gegevens.
    	16. De interface moet gebruiksvriendelijk en intuitief zijn, zodat personeelsleden snel kunnen leren hoe ze de applicatie moeten gebruiken.
    	17. Gebruikers moeten in maximaal drie klikken alle details van een bepaald product kunnen bekijken, en of het product op voorraad is.
    Veiligheid:	
	    18. De applicatie is beveiligd door middel van het gebruik van inloggegevens. Deze zijn gekoppeld aan de rol en daarmee de rechten van de gebruiker.
	    19. Gebruikers worden na 5 minuten van inactiviteit automatisch uitgelogd.
	    20. De applicatie moet voldoen aan beveiligingsnormen en de privacy van gevoelige gegevens waarborgen, zoals personeelsinformatie en financiële gegevens.
    Ondersteuning: 
	    21. Er is een gebruikershandleiding aanwezig op de computers in de winkel, zodat personeel altijd terug kan zoeken hoe zij bepaalde handelingen kunnen verrichten.

